/* Gioco con le font-size REM 
html { 
    font-size: 16px
}
*/

/* Gioco con le font-size EM */
div {
    font-size: 12px;
}



/* Hierarchy TAG, CLASS, ID */
p {
    font-size: 15px;
    color:red;
    font-style: italic;
}

.classico {
    font-size: 3rem;
    color:green;
}

#identita {
    font-size: 3em;
    color:blue;
    font-style: normal;
} 
