h1 {
    color: crimson;
    background-color: aliceblue;
    padding: 10px;
    border: 1rem solid royalblue;
    border-radius: 100px;
    margin:auto;
}
h2{
    color:royalblue;
    padding: 5px;
    border:2px solid seagreen;
    border-radius: 100px;
    margin-top:25px;
    margin-right:10px;
    margin-left: 0px;
    margin-bottom: 25px;
}

.tableTitle {
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 100px;
}

#work {
    padding: 1px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 14px;

}
#work td {
    border: 1px solid black;
}

#work .header {
    background-color: aliceblue;
}

#education {
    padding: 1px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 14px;
}

#education td {
    border: 1px solid black;
}

#education .header {
    background-color: aliceblue;
}

#categoryBook {
    font-weight: bold;
    color:lightcoral;
}