h1 {
    color: crimson;
    background-color: aliceblue;
    padding: 10px;
    border: 1rem solid royalblue;
    border-radius: 100px;
    margin:auto;
}
h2{
    color:royalblue;
    padding: 5px;
    border:2px solid seagreen;
    border-radius: 100px;
    margin-top:25px;
    margin-right:10px;
    margin-left: 0px;
    margin-bottom: 25px;
}

h3{
    margin: 0 0 0 15px;
}

p {
    margin:0 0 0 0;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.tableTitle {
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 100px;
}

#work {
    padding: 1px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 14px;

}
#work td {
    border: 1px solid black;
}

#work .header {
    background-color: aliceblue;
}

#education {
    padding: 1px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 14px;
}

#education td {
    border: 1px solid black;
}

#education .header {
    background-color: aliceblue;
}

#contact {
    font-weight: bolder;
}

/* Fisso la font-size standard */
html {
    font-size: 16px;
}


/* Mondo Libri in Italiano, prova uso REM font-size */


#languageBookIT {
    display: inline-block;
    color: green;
    font-size: 3rem;
}

#categoryBookIT {
    display: inline-block;
    font-size: 2rem;
}

#titleBookIT {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom:15px ;
}

/* Mondo Libri in Inglese, prova uso EM font-size */

.en{
    font-size: 5px;
}

#languageBookEN {
    display: inline-block;
    font-size: 3em;
}

#categoryBookEN {
    display: inline-block;
    font-size: 2em;
}

#titleBookEN {
    display: inline-block;
    font-size: 1.5em;
}